# compiled output
/dist
/node_modules
/uploads/products
/uploads/categories
/uploads/brands
/uploads/producers
/uploads/suppliers
/uploads/countries
/uploads/suppliers
/uploads/ranks
/uploads/spiritTypes
/uploads/regions
/uploads/grapes
/uploads/wineClassifications
/uploads/users
/uploads/descriptions
/uploads/categoryPosts
/uploads/posts

/uploads
/upload.zip
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#env
/.env
