version: '3'

services:
  mi_dom_redis:
    image: redis
    # command: redis-server --appendonly yes --requirepass ed5f884edd376efe6b792e93da90ad6d5b77ba509d4006e75ef141bf0e42d29a
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - 6380:6379
    volumes:
      - ./redis:/data
      - ./redis/config/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - mi_dom_backend_network
  mi_dom_backend_postgresql:
    image: bitnami/postgresql:11
    ports:
      - 5435:5432
    volumes:
      - postgresql_data:/bitnami/postgresql
      - ./database:/docker-entrypoint-initdb.d/create-data.sql
    environment:
      - POSTGRES_PASSWORD=postgres
    networks:
      - mi_dom_backend_network
  mi_dom_backend:
    build:
      context: .
    ports:
      - 9443:3001
    volumes:
      - ./uploads:/home/node/uploads
    environment:
      NODE_ENV: development
      DATABASE_HOST: mi_dom_backend_postgresql
      DATABASE_NAME: mi_dom
      DATABASE_PASSWORD: postgres
      DATABASE_PORT: 5432
      REDIS_HOST: mi_dom_redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ed5f884edd376efe6b792e93da90ad6d5b77ba509d4006e75ef141bf0e42d29a
      IMAGE_PUBLIC_URL: /uploads
      IMAGE_LOCAL_PATH: uploads
      PRODUCT_IMAGE_PATH: uploads/products
      CATEGORY_IMAGE_PATH: uploads/categories
      USER_IMAGE_PATH: uploads/users
      TOPPING_IMAGE_PATH: uploads/toppings
      CATEGORY_POST_IMAGE_PATH: uploads/categoryPosts
      POST_IMAGE_PATH: uploads/posts
      MAX_NUMBER_FILE_UPLOAD: 10
      MAX_SIZE_PER_FILE_UPLOAD: 102400
      MINIMUM_ITEMS_PER_PAGE: 5
      DEFAULT_MAX_ITEMS_PER_PAGE: 12
      ENABLE_SSL: 0
      JWT_PRIVATE_KEY: "-----BEGIN RSA PRIVATE KEY-----\nMIIJKQIBAAKCAgEApJ2mlLEpEnMcfVwruoay/MohE6jKafzHdLyi4uJm65zMb26b\nYqBOyThUMThbv5OalniD86JSMYOBH8UMC7Rpc9xWpaoqkzoUreBZmgXfozOU+FHq\nlXkRyBzDRQIDw3jHcq9eJjQsmsfA+mCzFa0SrU+hmD87pcXvZ08NLtfWDonFw3LL\nubVVXctMRnhTUOWg91cluHZXk8LQEtKO5gFvfwGLRM+VBsTbBZeoKLO9n7OajVWm\nc54rnPBEzetokzS6HXe6PV34W0RKg30Ub+HWANgUglB5KJPCnyLkkzYy1HjyVLKL\narwp+U/AAdMu0VbQPNFGI9WEhlrvrrimirBjE0ElN6Jw8wbJ85B9jXjyLs9+84dP\nKBTKWoe4HnodNzbMYs6wuh4PYxv1uUS0j/VrsVwXMBc3/tAoM0n7FiDSgCmOVCEF\nzTR/V0+KhxQjXZ8bUbtO0+X8aWtJJO04PSrqvLA44YEXHbeGpgNSfyuhKAOHK5vm\nbZCXYxuDu6dfX8fT0x+nDKytwX5/LtDtG6I/zTA7stsgEYMil3j3hSrm5udVs7eo\nhDTMTYbRyNsUpPJPfsTgRgCD++zowqg+TUHDAbcWBjY7jxwQ+LP4ur5FntDwti9q\nzy5HuC4nNr+mf05KYQdMd2I9MqYpXBiU+GNAHkfEZoSZTqEowCO2reW+XrMCAwEA\nAQKCAgB6K+LY0g74eWQ4ibKOka+/O0iHLatkM83YDrQZDQxzawCy5vT9opo2bs7V\nZM17BlIhwLm1lM/JnZ60dGq3OSNWcL4B36QPdniofywgyqEqn3q9PRaL7rnKucYW\nriMa7MWhkROf6PL9wKixahkfSj7lT4dP1gYvxxIhqyLOlDNywL98ifM3FaSQovQu\nDNlQ3cu0JgKBv5rJuDjy70BM5d3Y9c1luWYSCwG+ScrswlFGeGaI5HtPraESraNy\n7HbFYcmLWzNmnhpXqfxfT/JeAs7v+25lNNJm0hsMPjpEI2JgHI9FWulrwtCoDo8j\nC5fgl7yelnam262qhU0DcFlx7uznyTozJx9HAgZoPC6QpwMIQdQf+dC9fJxuuv7t\neptFbjNS1xpA5EBYosny/2MsQqWfV3PmPXJc+CZ8KPdBbVO/YN0lFlwgnV8Zso2P\nsBQC4w3253cqrkzr7L+AArCXNuNSweUM9mnLW1MOxgXNujBZ5PUgsa1oPZ132WMA\njgizFcbJjgGkqXZHc+H1J6V7e4NCkLqTrwdcppvwEjILfedfwAmHuDonlk/oQ57D\n9a8PS0CmzXIMTFhozWhIaj0xmEA7NQcSNNK7C5GzGT70pPouS+VUQ1+/ITQqhcpL\nidauzD8IHvNzbbERjDUasjommaFKXJSPMdZUmfe3se7ah8c04QKCAQEA2HoHVQmM\nl4vbvmdlcwreWG4tLmNBckHUTrBlkAcVV+bFkXjTjcJlDrOQNZ3HMTloKOPZN1hK\nh/Svwqih0XzVUOMDkpIfSH2pwZNvdHtdCO/C2nyaX4bBY1H2w5zaPPfutGlBEaOJ\nobQU7BpuR/IXlQ7eKRRSASjac9ntJWe1uyAfU5ZrXiscoiKwd6KDIyx0jNs/vyX4\nDT1SyQV8JK7gCebWqIYHdKRJgg4JKpYwpIUoDrCUKyXLt/jYpn3KvRoRfbXrAPbT\npGDb8BsxR1eBz9kfhmE+EhS/wUrPR6lvYaHMzrbLl6/3rwRvLXssNXAfA86kDiN4\nOQq9zyhrwA5VkQKCAQEAwquucgNO08NzywpDIZBOTCAz1DBM/N9XD8iju3HYMsIC\nDKtkfBKg7ZjIysKodh8reQGHiBWr69gkUFGa2YgDFknsZ4Szb2fOVgPsQEAoghS/\nUaz/Mfx7+VuVapF8mz/K0xRjArazvOcZJqXaj98FyvdpiMoArj/uLyFJ02jt2pCU\nLS/dM7yE8YiD6163awjPC8MqUKwq/3VeIRQonVwI3jyjL35ytLIRcULuvEM0shZk\ngu2a7PhOdgRaL3MhUwtFAjsP6z8JwyYTDf4w25tXe+g77FQDWX+xyYQ2DnQf3Ktr\nUf4hDP9vypZWvWaQLyOwOPBrKKqdgQQcP5rh7RZ+AwKCAQEAyocQSQzQDhB5G+Ac\nV885Sj554sZVupHAEYaS3nbiDwUGnh0Ov7e5WFHCf4cHjxQIUQkqdc8Sm7PepB2k\nlxtVb4GUHBK9VdLLeSF4yt+HoQ6/nC2rN+gZEdTjKwuaWiQTnZJDoD8CStjyIhpw\nRrtGONxaGNC8D/2qs2yVo8MtkM5ywH8gIE/xT/doZeUTD1tOB2Iwd6MMOUbAJvYM\nuT0qudjPx4btfsEdTKHZDZDKHYG+gk/Nr7iCqbIU718MyHKVHqmOHa7PPyCnZDHs\nnrRN7KlUByL/MWdcJ3jYCFGKtSrtNBBs1ZN6BLH/Weu85pnpSmSPs/KXTbaw8hj9\nBgfjIQKCAQBeTdTgHoIdS93YSkxjAgksD52L+SoShg8i8kt/DpNxY1Ki2JSBFnUn\nJJCAyPPa5RamM/t4DSePxNEyp5WgM6drMLx5GWvjWCI4wQW9ylbVTT+xTWEC0hEs\npxUm3vvCKZET2BhuxBsmM72XX1kVwTCJNnnFbjYOM6Iq6rFc3MP80XU2vq0l1vmA\nGGXvq56nF0lVpWHmWsEpp63F0IIsWN1i63USGOtwZaLVf1svkE8Cxp5CXuBiU5eO\nzGTz/43xMNBpWDtJ9uu/wb4RVUZN3F7xA3uj7L8CqD10JbwaHF8jA1emDLnuFgAN\n3+59KiZG7776ll0TAjPywA7/MQSpWfAJAoIBAQDC9F9SSkqf9VdfGKJyWD1a3vw6\nChA9TKvgWNdGydSpq6g85nEoixupvVxuT01Pn9XZNUSigqgwqK+C/HU0aCpVsZ/Q\n9lgbw8zdDtJYA0uLl40KUJu+pxwi/lV7FnuJdjBv8dQYtaItwvlKRy4hfY+WrJSf\n61n7I3Sma4UJUWXru7Qi0SdGxp/feqjttjpd2cqLmO5HXw3UQZZLU8HDfhe/1mjR\newCL9oQevKleHcpQsxo7BOBExUnhGT3qUyRu6NfbY+DamtDf1/56rbkGMVvYmKC1\nDGMDHQZPCvrQ3IXGofh4/JhFu4f2EhY0HyKJvrbJSfGCCpSRdyVUZ1wTgJr5\n-----END RSA PRIVATE KEY-----\n"
      JWT_PUBLIC_KEY: "-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEApJ2mlLEpEnMcfVwruoay\n/MohE6jKafzHdLyi4uJm65zMb26bYqBOyThUMThbv5OalniD86JSMYOBH8UMC7Rp\nc9xWpaoqkzoUreBZmgXfozOU+FHqlXkRyBzDRQIDw3jHcq9eJjQsmsfA+mCzFa0S\nrU+hmD87pcXvZ08NLtfWDonFw3LLubVVXctMRnhTUOWg91cluHZXk8LQEtKO5gFv\nfwGLRM+VBsTbBZeoKLO9n7OajVWmc54rnPBEzetokzS6HXe6PV34W0RKg30Ub+HW\nANgUglB5KJPCnyLkkzYy1HjyVLKLarwp+U/AAdMu0VbQPNFGI9WEhlrvrrimirBj\nE0ElN6Jw8wbJ85B9jXjyLs9+84dPKBTKWoe4HnodNzbMYs6wuh4PYxv1uUS0j/Vr\nsVwXMBc3/tAoM0n7FiDSgCmOVCEFzTR/V0+KhxQjXZ8bUbtO0+X8aWtJJO04PSrq\nvLA44YEXHbeGpgNSfyuhKAOHK5vmbZCXYxuDu6dfX8fT0x+nDKytwX5/LtDtG6I/\nzTA7stsgEYMil3j3hSrm5udVs7eohDTMTYbRyNsUpPJPfsTgRgCD++zowqg+TUHD\nAbcWBjY7jxwQ+LP4ur5FntDwti9qzy5HuC4nNr+mf05KYQdMd2I9MqYpXBiU+GNA\nHkfEZoSZTqEowCO2reW+XrMCAwEAAQ==\n-----END PUBLIC KEY-----\n"
      JWT_EXPIRE_IN: 120h
      REFRESH_TOKEN_EXPIRE_IN: 7d
      CHECK_TOKEN_FB_URL: https://graph.facebook.com/{id}/?access_token=
      CHECK_TOKEN_GG_URL: https://www.googleapis.com/oauth2/v3/tokeninfo?access_token=
    networks:
      - mi_dom_backend_network
    links:
      - mi_dom_backend_postgresql
      - mi_dom_redis
volumes:
  postgresql_data:
    driver: local
networks:
  mi_dom_backend_network:
